Flask==2.3.3
ghostscript==0.7
openpyxl==3.1.2
pdf2docx==0.5.8
pdfplumber==0.10.3
Pillow==10.0.1
PyMuPDF==1.23.8
python-docx==0.8.11
python-pptx==0.6.21
reportlab==4.0.5
pytesseract==0.3.10
Werkzeug==2.3.7
